.discourse-chronos {
  display: inline-block;

  &.cooked {
    padding: 0px 6px;
    color: dark-light-choose(
      scale-color($primary, $lightness: 30%),
      scale-color($secondary, $lightness: 70%)
    );
    background: $primary-low;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1em;
    vertical-align: middle;
  }

  + .discourse-chronos {
    margin-left: 3px;
  }
}

.discourse-chronos-create-modal {
  min-height: 300px;
  display: flex;
  flex-direction: row;

  .form {
    flex: 1;
    .controls {
      &.date-time {
        display: flex;
        justify-content: flex-start;

        .date {
          margin-right: 0.5em;
        }

        .time {
          max-width: 100px;
        }
      }
    }
  }
}

.select-kit.multi-select {
  width: 100%;
}
